//variable
$green-level-one : #BAE4D8;
$green-level-two : #67C19E;
$green-level-three : #019271;
$green-level-four : #005E5E;

$grey-level-one : #F5F5F5;
$grey-level-two : #DDDDDD;
$grey-level-three : #9D9D9D;
$grey-level-four : #3C3C3C;

$error-red: #ED1C24;


//mixin
@mixin grey-border{
	border:solid 1px $grey-level-two;
}

@mixin green-border{
	border: solid 1px $green-level-three;
}

@mixin alert-border{
	border: solid 1px $error-red;
}
@mixin shadow{
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}