$green-level-one : #BAE4D8;
$green-level-two : #67C19E;
$green-level-three : #019271;
$green-level-four : #01544A;

$grey-level-one : #F5F5F5;
$grey-level-two : #DDDDDD;
$grey-level-three : #8C8C8C;
$grey-level-four : #3C3C3C;

$error-red: #ed1c24;