



// fileupload
.mini-fileupload {


  .mini-buttonedit-button {
    line-height: 28px;
    background: none;
    border: none;
    color: $green-level-three;
  }

  .mini-buttonedit-border {
    padding-right: 50px;
  }
}