@import "base";
@import "icon";

.mini-datepicker{
	.mini-buttonedit-button{
		.mini-buttonedit-icon{
			@include font-awesome;
			padding: 7px;
			&:before{
				content: "\f073";
			}
		}
	}
}

.mini-errorIcon{
	@include font-awesome;
	color: $error-red;
	padding: 7px;
	width: auto;
	height: auto;
	right: -6px;
	top:-1px;
	
	&:before{
		content: "\f057";
		font-size: 14px;
	}
}

.mini-buttonedit{
	width: 200px;
	height: auto;
}

.mini-buttonedit-border, 
.mini-required .mini-buttonedit-border{
	background: white;
	@include grey-border;
	height: 28px;
	padding: 0 30px 0 10px;
	color: $green-level-three;
}

.mini-buttonedit-input{
	line-height: 28px;
	font-size: 12px;
	color: $grey-level-four;
	height: auto;
	border-right: solid 1px $grey-level-two;
}

.mini-buttonedit-button{
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0;
	.mini-buttonedit-icon{
		@include font-awesome;
		padding: 8px;
		&:before{
			content: "\f141";
		}
	}
}

.mini-buttonedit-button-hover{
	background: none;
	border: none;
	color: $green-level-four;
}

.mini-buttonedit-focus .mini-buttonedit-border,
.mini-buttonedit-popup .mini-buttonedit-border
{
    border-color: $green-level-two;
}

.mini-buttonedit-button-pressed,
.mini-buttonedit-popup .mini-buttonedit-button
{
    border:none;
    padding:0;
    background: white;  
}

.mini-error{
	.mini-buttonedit-border{
		@include alert-border;
	}
}

.mini-popup{
	@include grey-border;
}

.mini-calendar-header{
	background: $grey-level-one;
	border-bottom: solid 1px $grey-level-two;
}

.mini-calendar-footer{
	border-top:1px solid $grey-level-two;
	background: $grey-level-one;
}

.mini-calendar{
	.mini-calendar-today{
		@include green-border;
	}
}

.mini-shadow{
	@include shadow;
}

.mini-calendar-tadayButton{
	@include green-border;
	background: $green-level-three;
	color: white;
}

.mini-calendar-clearButton{
	@include green-border;
	background: white;
	color: $green-level-three;
}

.mini-calendar-tadayButton, 
.mini-calendar-clearButton{
	&:hover{
		background: $green-level-four;
		border: solid 1px $green-level-four;
		color: white;
	}	
}

.mini-textbox-input{
	height: 28px;
	width: 200px;
	line-height: 28px;
	font-size: 12px;
	padding:0 10px;
}

.mini-textbox-border{
	@include grey-border;
	height: auto;
	width: auto;
}

.mini-textbox{
	height: auto;
	width: auto;
	&.mini-textbox-focus{
		.mini-textbox-border{
			border-color:$green-level-two;
		}
	}
}

.mini-textarea{
	.mini-textbox-input{
		width:200px;
		padding:0 10px;
		line-height: 20px;
	}
}

.mini-buttonedit-up{
	span{
		@include font-awesome;
		padding: 2px 0 0 10px;
		&:before{
			content: "\f0d8";
		}
	}
}


.mini-buttonedit-down{
	span{
		@include font-awesome;
		padding-left: 10px;
		&:before{
			content: "\f0d7";
		}
	}
}



