@import "base";
@import "icon";

.mini-datepicker{
	.mini-buttonedit-icon{
		background: none;
		display: inline-block;
  		font: normal normal normal 14px/1 FontAwesome;
  		font-size: inherit;
  		text-rendering: auto;
  		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
  		transform: translate(0, 0);
  		background: none;
		padding: 7px;
		&:before{
			content: "\f073";
		}
	}
}

.mini-errorIcon{
	background: none;
	color:$error-red;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	background: none;
	padding: 7px;
	
	width: auto;
	height: auto;
	right: -6px;
	top:-1px;
	
	&:before{
		content: "\f057";
		font-size: 14px;
	}
}

.mini-buttonedit{
	width: 200px;
	height: auto;
}

.mini-buttonedit-border, 
.mini-required .mini-buttonedit-border{
	background: white;
	border: solid 1px $grey-level-two;
	height: 28px;
	padding: 0 30px 0 10px;
	color: $green-level-three;
}

.mini-buttonedit-input{
	line-height: 28px;
	font-size: 12px;
	color: $grey-level-four;
	height: auto;
	border-right: solid 1px $grey-level-two;
}

.mini-buttonedit-button{
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0;
}

.mini-buttonedit-button-hover{
	background: none;
	border: none;
	color: $green-level-four;
}

.mini-buttonedit-focus .mini-buttonedit-border,
.mini-buttonedit-popup .mini-buttonedit-border
{
    border-color: $green-level-two;
}

.mini-buttonedit-button-pressed,
.mini-buttonedit-popup .mini-buttonedit-button
{
    border:none;
    padding:0;
    background: white;  
}

.mini-error{
	.mini-buttonedit-border{
		border: 1px solid $error-red;
	}
}

.mini-popup{
	border: solid 1px $grey-level-two;
}

.mini-calendar-header{
	background: $grey-level-one;
	border-bottom: solid 1px $grey-level-two;
}

.mini-calendar-footer{
	border-top:1px solid $grey-level-two;
	background: $grey-level-one;
}

.mini-calendar{
	.mini-calendar-today{
		border: solid 1px $green-level-three;
	}
}

.mini-shadow{
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.mini-calendar-tadayButton{
	border: solid 1px $green-level-three;
	background: $green-level-three;
	color: white;
}

.mini-calendar-clearButton{
	border: solid 1px $green-level-three;
	background: white;
	color: $green-level-three;
}

.mini-calendar-tadayButton, 
.mini-calendar-clearButton{
	&:hover{
		background: $green-level-four;
		border: solid 1px $green-level-four;
		color: white;
	}	
}

.mini-textbox-input{
	height: 28px;
	width: 200px;
	line-height: 28px;
	font-size: 12px;
	padding:0 10px;
}

.mini-textbox-border{
	border: solid 1px $grey-level-two;
	height: auto;
	width: auto;
}

.mini-textbox{
	height: auto;
	width: auto;
	&.mini-textbox-focus{
		.mini-textbox-border{
			border-color:$green-level-two;
		}
	}
}

.mini-textarea{
	.mini-textbox-input{
		width:200px;
		padding:0 10px;
	}
}



