@import "base";
@import "icon";

.mini-panel{
	@include shadow;
	.mini-panel-border{
		@include grey-border;
	}
	
	.mini-panel-header{
		background: $grey-level-one;
		height: 30px;
		border-bottom: solid 1px $grey-level-two;
		.mini-panel-title{
			color: $grey-level-four;
			line-height: 30px;
		}
		.mini-tools-close{
			@include font-awesome;
			padding: 4px;
			&:before{
				content: "\f00d";
				color: $grey-level-four;
			}
		}
	}
}

.mini-messagebox-question{
	@include font-awesome;
	padding: 2px;
	&:before{
		content: "\f059";
		color: $green-level-three;
	}
	width: auto;
	height: auto;
	font-size: 40px;
}

.mini-panel-body{
	padding: 15px 20px;
}

.mini-messagebox-content-text{
	padding: 0;
}

.mini-panel-header-inner{
	padding:0 0 0 20px;
}

.mini-messagebox-buttons{
	padding: 10px 20px 5px 20px;
}

.mini-toolbar{
	@include grey-border;
	padding: 4px;
	height: auto;
	background: $grey-level-one;
}

.mini-modal{
	background: white;
	opacity: 0.8;
}

.mini-splitter-border{
	@include grey-border;
}

.mini-splitter-pane1{
	border-right: solid 1px $grey-level-two;
}

.mini-splitter-pane2{
	border-left: solid 1px $grey-level-two;
}

fieldset{
	border: solid 1px $grey-level-two;
	padding: 10px 20px 20px 20px;
	legend{
		color: $grey-level-three;
	}
}

	
