

.mini-treeselect {

  .mini-buttonedit-border {
    padding-right: 30px !important;
  }

  .mini-buttonedit-close {
    margin-top: 6px;
  }
}

.mini-tree-expand .mini-tree-node-ecicon:before,
.mini-tree-collapse .mini-tree-node-ecicon:before {
  margin-left: 5px;
}



