

[class~="mini-tree-icon"],
[class~="mini-tree-node-ecicon"]
{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  background: none;

  &:before{
    text-align: left;
    display: inline-block;
    width: 18px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    background: none;
  }
}


.mini-tree {

  .mini-tree-icon {
    display: inline-block;
    width: 18px;
    height: 20px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    vertical-align: middle;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }

}
.mini-tree-node-ecicon {
  display: inline-block;
  height: 22px;
  width: 14px;
  background: none;
  outline: none;
}

.mini-tree-expand, .mini-tree-collapse {

  .mini-tree-folder {
    background: none;
  }

  .mini-tree-node-ecicon {
    background: none;

    &:before {
      color: black;
      margin-left: 3px;
    }
  }
}

.mini-tree-expand {
  .mini-tree-node-ecicon:before {
    content: "\f0d7";
  }
  .mini-tree-folder:before {
    content: "\f07c";
  }

}

.mini-tree-collapse{
  .mini-tree-node-ecicon:before {
    content: "\f0da";
  }
  .mini-tree-folder:before {
    content: "\f07b";
  }
}

///////////// tree


.mini-tree-treeLine {

  .mini-tree-indent {
    background: none;
  }

  .mini-tree-node-ecicon {
    background:none;
  }

  .mini-tree-expand {

    .mini-tree-node-ecicon {
      background: none;
    }
    .mini-tree-node-ecicon-first {
      background: none;
    }
  }

  .mini-tree-collapse  {
    .mini-tree-node-ecicon{
      background: none;
    }
  }

  .mini-tree-nodeshow {
    padding: 2px 4px;
    border: none;
  }

  .mini-tree-leaf:before {
    content: "\f15b";
  }

  .mini-tree-node-hover .mini-tree-nodeshow {
    background: $grey-level-one;
    color: $green-level-three;
  }
  .mini-tree-selectedNode .mini-tree-nodeshow {
    background: $grey-level-one;
    zoom: 1;
    color: $green-level-three;
  }
}








